# Ignore CMake artifacts and generated binaries
/bin
/cmake
/build

# Generated GRPC files
*.pb.h
*.pb.cc
*.grpc.pb.h
*.grpc.pb.cc

# Core files
core.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries and executables
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Profiling and code coverage
coverage.*
*.lcov
*.gcno
*.gcda 

# Misc
*.tgz